Source: yadifa
Section: net
Priority: optional
Maintainer: Petri Savolainen <petri.savolainen@koodaamo.fi>
Homepage: http://www.yadifa.eu
Standards-Version: 3.9.5

Package: yadifa
Architecture: all
Depends: libssl-dev
Description: YADIFA DNS server
 This package provides the YADIFA dns server.
 .
 The maintainer takes no responsibility for the software.
 Use at your own risk.
